body{
    background-color: rgb(1, 1, 40);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
    margin: 0px;
    padding: 0px;
    color: white;
}
.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}