{% load static %}

<!doctype html>
<html lang="en">

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Chandrika's Portfolio</title>


        <head>
            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <title>Chandrika's Portfolio</title>
            <script src="https://cdn.tailwindcss.com"></script>
            <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" rel="stylesheet">
        </head>

    <body class="min-h-screen bg-gradient-to-br from-slate-950 via-gray-900 to-black">
        <nav class="bg-slate-950  shadow-lg sticky top-0 z-50 border-b border-slate-900">
            <div class="max-w-7xl mx-auto px-6">

                <div class="flex justify-between items-center h-16">

                    <!-- Logo -->
                    <h1 class="bg-gradient-to-r from-pink-500 via-purple-500 to-blue-500
                text-transparent bg-clip-text text-2xl font-bold tracking-wide flex items-center gap-2">
                        <i class="fa-solid fa-code text-purple-400"></i>
                        Chandrika's Portfolio
                    </h1>

                    <!-- Menu -->
                    <ul class="flex space-x-10 text-white font-medium items-center">

                        <li>
                            <a href="/"
                                class="flex items-center gap-2 bg-gradient-to-r from-pink-500 via-purple-500 to-blue-500
                text-transparent bg-clip-text transition duration-300 hover:scale-105">
                                <i class="fa-solid fa-house"></i> Home
                            </a>
                        </li>

                        <li>
                            <a href="/about"
                                class="flex items-center gap-2 bg-gradient-to-r from-pink-500 via-purple-500 to-blue-500
                text-transparent bg-clip-text transition duration-300 hover:scale-105">
                                <i class="fa-solid fa-user"></i> About
                            </a>
                        </li>

                        <li>
                            <a href="/skills"
                                class="flex items-center gap-2 bg-gradient-to-r from-pink-500 via-purple-500 to-blue-500
                text-transparent bg-clip-text transition duration-300 hover:scale-105">
                                <i class="fa-solid fa-lightbulb"></i> Skills
                            </a>
                        </li>

                        <li>
                            <a href="/projects"
                                class="flex items-center gap-2 bg-gradient-to-r from-pink-500 via-purple-500 to-blue-500
                text-transparent bg-clip-text transition duration-300 hover:scale-105">
                                <i class="fa-solid fa-diagram-project"></i> Projects
                            </a>
                        </li>

                        <li>
                            <a href="/education"
                                class="flex items-center gap-2 bg-gradient-to-r from-pink-500 via-purple-500 to-blue-500
                text-transparent bg-clip-text transition duration-300 hover:scale-105">
                                <i class="fa-solid fa-graduation-cap"></i> Education
                            </a>
                        </li>

                        <li>
                            <a href="/contact"
                                class="flex items-center gap-2 px-4 py-2 bg-gradient-to-r from-pink-500 via-purple-500 to-blue-500
                text-transparent bg-clip-text rounded-lg hover:bg-purple-500 transition duration-300 shadow-md hover:shadow-purple-500/50">
                                <i class="fa-solid fa-envelope"></i> Contact
                            </a>
                        </li>

                    </ul>

                </div>

            </div>
        </nav>
        {% block body %}


        {% endblock body %}


        <!-- Bootstrap JS -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"></script>

    </body>

</html>