
{% load static %}

<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Chandrika's Portfolio</title>


    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Chandrika's Portfolio</title>
        <script src="https://cdn.tailwindcss.com"></script>
    </head>

    <body class="min-h-screen bg-gradient-to-br from-slate-950 via-gray-900 to-black">
        <nav class="bg-slate-900 shadow-lg">
            <div class="max-w-7xl mx-auto px-6">

                <div class="flex justify-between items-center h-16">

                    <!-- Logo -->
                    <h1 class="text-white text-2xl font-bold tracking-wide">
                        Chandrika's Portfolio
                    </h1>

                    <!-- Menu -->
                    <ul class="flex space-x-12 text-white font-medium">
                        <li><a href="/" class="hover:text-yellow-300 transition duration-300  ">Home</a></li>
                        <li><a href="/about" class="hover:text-yellow-300 transition duration-300">About</a></li>
                        <li><a href="/skills" class="hover:text-yellow-300 transition duration-300">Skills</a></li>
                        <li><a href="/projects" class="hover:text-yellow-300 transition duration-300">Projects</a></li>
                        <li><a href="/education" class="hover:text-yellow-300 transition duration-300">Education</a>
                        </li>
                        <li><a href="/contact" class="hover:text-yellow-300 transition duration-300">Contact Us</a></li>
                    </ul>

                </div>

            </div>
        </nav>
        {% block body %}
         <div class="flex ">
            <div class="text-white border-3 p-4 m-4">
                <h3 class="">HELLO,I AM</h3>
                <h2>Chandrika Nandehariya</h2>
                <p>Full stack Developer | AI/ML Enthusiast</p>
                <button class="p-2 border-2 rounded bg-white-900">Resume</button>
                
            </div>
            <div class="h-200 border-4 ">
                <img src="phpto.png" alt="Profile Picture">
            </div>
         </div>
        {% endblock body %}


<!-- Bootstrap JS -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"></script>

</body>
</html>
